<main class="main">
  <div class="inner">
    <% if user_signed_in? %>

     <% if current_user.id != 1 %>
      <div class="greeting"> 
        こんにちは、
        <%= link_to "#{current_user.name}さん", edit_user_path(current_user), class: :greeting__link%> 
        <br>
        あなたの登録番号：<%= current_user.public_uid %><br> 
      </div>
     <% else %>
      <div class="greeting">
        お疲れ様です、会場登録担当者さん<br>
        現在の接種完了数：<%#= Registration.count %><br>
        <%= flash[:notice] %><br>
        <%#= form_with url:, method: :get, local: true do |f| %>
          <div class="field">
            <%#= f.label :public_uid, "個人番号を入力してください" %><br />
            <%#= f.text_field :public_uid, id:"user_public_uid", autofocus: true, autocomplete: "public_uid" %>
            <%#= f.hidden_field :id, value: "1" %>
          </div>
        <div class="actions">
          <%#= f.submit "登録", class: :form__btn %>
        </div>
        <%# end %>
      </div>
     <% end %> 
    <% else %>
      <div class="wrap">
        <div class="item">
         <%= image_tag('pic01.jpg') %>
         <h2>会場担当者ログイン</h2>
         <%= link_to "会場担当者はこちらからログインしてください。",new_user_session_path, class: :main_session %>
        </div>
        <div class="item">
         <%= image_tag('pic02.jpg') %>
         <h2>ユーザー新規登録</h2>
         <%= link_to "初めてワクチン接種をする方は、こちらより登録してください。",new_user_registration_path, class: :main_session %> 
        </div>
        <div class="item">
         <%= image_tag('pic03.jpg') %>
         <h2>マイページログイン</h2>
         <%= link_to "既に登録が済んでいる方は、こちらから個人情報を編集出来ます。",new_user_session_path, class: :main_session %> 
        </div>
      </div>
    <% end %>  

  </div>
</main>
